@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Karla:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #808080;
    font-size: 16px;
}

.container {
    height: 480px;
    width: 650px;
    background-color: rgb(201, 194, 194);
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boxleft {
    height: 120%;
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
}

.boxright {
    height: 120%;
    width: 50%;
    background-color: hsl(179, 62%, 47%);
    border-bottom-right-radius: 10px;
}

.whyUs {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: first baseline;
    margin: 40px;
    font-family: 'Karla', sans-serif;
    margin-right: 80px;
    color: hsl(204, 43%, 93%);
    line-height: 22px;

}

.whyUs h3 {
    margin-bottom: 30px;
    ;
}


.textTop {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: first baseline;
    gap: 10px;
    margin-left: 40px;
    margin-right: 80px;
    color: hsl(218, 22%, 67%);
    margin-bottom: 40px;
    font-family: 'Karla', sans-serif;
}

.textTop h2 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 15px;
}

.textTop h3 {
    color: hsl(71, 73%, 54%);
}

.textTop p {
    line-height: 25px;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: first baseline;
    gap: 10px;
}

.boxleft p {
    color: hsl(204, 43%, 93%);
}

.yawa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    padding: 20px;
    width: 240px;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: large;
    border: none;
    box-shadow: 0px 10px 20px hsl(179, 61%, 35%);
}

.textBot {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: first baseline;
    margin: 40px;
    gap: 15px;
    font-family: 'Karla', sans-serif;
}

.money p {
    color: hsl(218, 35%, 87%);
}
